<div class="flex justify-center h-screen overflow-hidden overflow-y-auto font-pretendard bg-whitegray">
  <div class="w-full h-full p-10 shadow-lg max-w-screen-tablet">
    <div>
      <img src="app/assets/logo.webp" class="w-24 h-24 rounded-2xl"/>
    </div>
    <br/>
    <router-outlet></router-outlet>
  </div>
</div>